body{
    background-image: url('component_images/Winner.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    gap: 20px;             
    width: 100%;
    height: auto;
}
button{
    background-image: url("component_images/back_button.png");
    background-size: cover; 
    padding: 20px 60px;
    width: 165px;
    border-radius: 30px;
    margin-top: 600px;
}